.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat-headerInfo {
  flex: 1;
  margin-left: 20px;
}

.chat-headerInfo h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat-headerInfo p {
  color: gray;
}
.chat-headerRight {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.chat-body {
  flex: 1;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: auto;
  overflow-x: hidden;
}

.chat-message {
  position: relative;
  background-color: #fff;
  width: fit-content;
  font-size: 16px;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.chat-receiver {
  position: relative;
  background-color: #dcf8c6;
  width: fit-content;
  font-size: 16px;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-left: auto;
}

.chat-name {
  position: absolute;
  font-size: xx-small;
  font-weight: 800;
  top: -15px;
}

.chat-timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-top: 2px solid lightgray;
}

.chat-footer > form {
  flex: 1;
  display: flex;
}

.chat-footer > form > input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
}

.chat-footer > form > input:focus {
  outline: 2px;
  border: 1px solid lightblue;
  border-radius: 0px;
}

.chat-footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
